# Entorno virtual
venv/
.env

# Cache de Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribución / packaging
dist/
build/
*.egg-info/

# IDE
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Config local
config.local.ini
